---


interface Props {
	materia: string;
}

const { materia } = Astro.props;
---

<div>
	<md-filled-button class="w-1/2" id={`open-dialog-${materia}`}>
		Abrir dialogo
	</md-filled-button>

</div>
<md-dialog class="absolute left-1/2 top1/2" id={`dialog-${materia}`}>
  <div slot="headline">
    {materia}
  </div>
  <form slot="content" id="form-id" method="dialog">
    A simple dialog with free-form content.
  </form>
  <div slot="actions">
    <md-filled-button form={`form-id-${materia}`} value="cerrar">
      Cerrar
    </md-filled-button>
  </div>
</md-dialog>

<script>
	const buttons = document.querySelectorAll("[id^='open-dialog-']");

	buttons.forEach((button) => {
		// Obtener el índice del ID del botón
		const materia = button.id.split("-")[2]; // Extraer el índice del ID del botón
		const dialog = document.getElementById(`dialog-${materia}`); // Relacionar con el diálogo correspondiente

		// Abrir el diálogo al hacer clic en el botón
		button.addEventListener("click", () => {
			if (dialog) {
				dialog.setAttribute("open", "");
			}
		});

		// Buscar el botón "Cerrar" dentro del diálogo
		const closeButton = dialog?.querySelector("md-filled-button");
		if (closeButton) {
			closeButton.addEventListener("click", () => {
				dialog?.removeAttribute("open");
			});
		}
	});
</script>
