---
import { Icon } from "astro-icon/components";

interface Props {
	carrera: string;
	emoji: string;
}

const { carrera, emoji } = Astro.props;
const NombreCarrera = carrera.replace(/-/g, " ");
---

<header
	transition:name=`header-${carrera}`
	class=`theme-${carrera} rounded-full w-full border border-outline p-3 flex flex-row gap-2.5 items-center justify-start self-stretch shrink-0 relative overflow-hidden`
	style="background: linear-gradient(to right, var(--md-sys-color-primary-container) 25%, transparent)">
	<md-filled-icon-button href="/">
		<Icon name="arrow-left" size={22} />
	</md-filled-icon-button>
	<h2
		transition:name=`nombre-${carrera}`
		class=`theme-${carrera} sm:hidden text-primary text-headline-small relative flex-1 flex items-center justify-center text-center`>
		{NombreCarrera.replace("Licenciatura", "Lic.").replace("Ingeniería", "Ing.").replace("Profesorado", "Prof.")}
	</h2>
	<h2
		transition:name=`nombre-${carrera}`
		class=`hidden sm:block theme-${carrera} text-primary text-headline-small relative flex-1 flex items-center justify-center text-center`>
		{NombreCarrera}
	</h2>
	<md-filled-tonal-icon-button >
		<Icon name={emoji} size="22"/>
	</md-filled-tonal-icon-button>
</header>
