---
import { Icon } from "astro-icon/components";

interface Props {
	carrera: string;
	emoji: string;
}

const { carrera, emoji }: Props = Astro.props;

const nombreCarrera = carrera.replace(/-/g, " ");
---

<a
	transition:name={`header-${carrera}`}
	href={`/carreras/${carrera}`}
	aria-disabled="true"
	class={`theme-${carrera} rounded-full hover:shadow-1 from-25% hover:scale-[1.01] outline-solid outline-outline outline-1 p-3 flex flex-row -col items-start justify-between flex-1 h-min -56 relative overflow-hidden transition-all duration-100 ease-in-out w-full bg-primary-container`}>
	<div
		class="relative flex h-10 w-10 shrink-0 flex-row items-center justify-center gap-2.5 rounded-full bg-primary p-3">
		<label
			transition:name={`emoji-${carrera}`}
			class={`text-on-primary text-center relative flex items-center justify-center`}>
			<Icon name={emoji} size="22" />
		</label>
	</div>

	<h2
		transition:name={`nombre-${carrera}`}
		class="text-title-large relative flex w-full items-center justify-center self-stretch text-center text-on-primary-container">
		{/* Texto corto para tamaños menores a md */}
		<span class="block">
			{
				nombreCarrera
					.replace("Licenciatura", "Lic.")
					.replace("Ingeniería", "Ing.")
					.replace("Profesorado", "Prof.")
			}
		</span>

		{/* Texto completo para tamaños md y mayores */}
		<!-- <span class=" ">{nombreCarrera}</span> -->
	</h2>
</a>
