---
import LogoPagina from "@components/LogoPagina.astro"
import MiLogo from "@components/MiLogo.astro"
import {carreras} from "@data/carreras.json"
import {Icon} from "astro-icon/components"

const enlacesCarreras = carreras.map(({carrera}) => {
	const nombreCompleto = carrera.replace(/-/g, " ") // Texto sin guiones
	let nombreCorto = nombreCompleto // Por defecto, el mismo nombre

	// Reemplazos para mostrar versión corta
	nombreCorto = nombreCorto
		.replace(/\bIngeniería\b/, "Ing.")
		.replace(/\bLicenciatura\b/, "Lic.")
		.replace(/\bProfesorado\b/, "Prof.")

	return {
		href: `/carreras/${carrera}`,
		nombreCompleto,
		nombreCorto,
	}
})

const contactos = [
	{
		label: "Github",
		link: "https://github.com/MatiasSolisSchneeberger",
		icono: "brand-github",
	},
	{
		label: "Matias.Solis.Sch@gmail.com",
		icono: "mail",
	},
	{
		label: "Linkedin",
		link: "https://www.linkedin.com/in/matias-solis-schneeberger-40a6842ab/",
		icono: "brand-linkedin",
	},
	{
		label: "Repositorio",
		link: "https://github.com/MatiasSolisSchneeberger/the-swifties-eras-tour",
		icono: "brand-github-filled",
	},
]
---

<section class="bg-[var(--md-sys-color-surface-variant)] rounded-3xl flex w-full flex-col items-start gap-6 p-10 text-[var(--md-sys-color-on-primary-container)] lg:flex-row">
	<article class="text-body-medium flex w-full flex-col gap-2 text-left">
		<LogoPagina />

		<p>
			Este sitio no es una página oficial de FaCENA. Está diseñado para brindar información de manera más accesible y
			organizada.
		</p>
		<p>
			Si encuentras algún error, como fechas incorrectas, cambios en los materiales o cualquier otra información
			desactualizada, no dudes en contactarme para corregirlo. ¡Tu ayuda es muy valiosa para mantener esta página
			actualizada y útil para todos!
		</p>

		<div class="h-10 justify-start">
			<MiLogo color="[var(--md-sys-color-on-primary-container)]" />
		</div>
	</article>

	<aside class="grid w-full grid-cols-1 md:grid-cols-2 items-start gap-2 overflow-hidden sm:gap-4">
		<div class="flex flex-col gap-1">
			<h4 class="text-title-medium mb-2">Contacto:</h4>
			{
				contactos.map(({label, link}) => {
					return link ?
							<a
								href={link}
								class="text-left text-title-small underline relative flex items-center justify-start hover:opacity-90">
								{/* {icono && <Icon name={icono} size={22} class="hidden sm:inline"/>} */}
								<span class="">{label}</span>
							</a>
						:	<span
								id="copiarCorreo"
								class="text-left text-title-small underline relative flex items-center justify-start hover:opacity-90">
								{/* {icono && <Icon name={icono} size={22} class="hidden sm:inline"/>} */}
								<span class="">{label}</span>
							</span>
				})
			}
		</div>
		<div class="flex flex-col gap-1">
			<h2 class="text-title-medium mb-2">
				Carreras:
			</h2>
			<div class="sm:flex flex-col gap-2.5 items-start justify-start shrink-0 relative">
				{
					enlacesCarreras.map(({href, nombreCompleto, nombreCorto}) => (
						<a href={href} class="text-left text-title-small underline relative flex items-center justify-start hover:opacity-90">
							<span class="block sm:hidden">{nombreCorto}</span> {/* Se muestra en móviles */}
							<span class="hidden sm:block">{nombreCompleto}</span> {/* Se muestra en pantallas grandes */}
						</a>
					))
				}
			</div>
		</div>
	</aside>
</section>
